@charset "UTF-8";
@font-face {
  font-family: "FontAwesome";
  src: url("fonts/fontawesome-webfont.eot");
  src: url("fonts/fontawesome-webfont.eot?#iefix") format("eot"), url("fonts/fontawesome-webfont.woff") format("woff"), url("fonts/fontawesome-webfont.ttf") format("truetype"), url("fonts/fontawesome-webfont.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0; }

html {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  background: #fff;
  color: #000;
  font-family: 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  overflow: hidden; }

p, pre {
  margin-bottom: 16px; }

pre {
  padding: 10px;
  border: 1px solid #000;
  background: #fff; }

.icon:before {
  font-family: 'FontAwesome';
  font-weight: normal;
  display: inline-block;
  vertical-align: middle; }

.panel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: auto; }

.nav {
  width: 620px;
  height: 25px;
  padding: 10px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 50%;
  margin-left: -320px;
  background: #000;
  color: #fff;
  overflow: hidden; }
  .nav h1 {
    float: left;
    font-size: 24px;
    line-height: 1; }
  .nav ul {
    float: right;
    list-style: none; }
  .nav li {
    float: left;
    padding: 0 5px; }
  .nav a {
    display: block;
    line-height: 2;
    color: #000;
    background: #fff;
    text-decoration: none;
    font-size: 12px;
    padding: 0 5px;
    border: 1px solid #fff; }

.version {
  float: left;
  font-size: 12px;
  line-height: 1;
  margin: 10px 0 0 10px; }

.about-visible .nav-about,
.get-started-visible .nav-started,
.shortcuts-examples-visible .nav-shortcuts,
.docs-visible .nav-docs {
  background: #000;
  color: #fff; }

#about {
  left: 0; }
  #about .inner {
    width: 620px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -140px 0 0 -310px;
    position: relative;
    overflow: hidden; }
  #about .row {
    width: 520px;
    overflow: hidden;
    margin-left: 20px; }
    #about .row.first {
      border-bottom: 1px solid #000; }

.summary {
  padding-right: 160px; }
  .summary ul {
    position: absolute;
    right: 0;
    top: 0;
    list-style: none; }
    .summary ul a {
      text-decoration: none;
      color: #000;
      display: block; }
      .summary ul a:before {
        width: 48px;
        font-size: 24px;
        text-align: center; }

.about-download:before {
  content: '\f019'; }

.about-github:before {
  content: '\f09b'; }

.about-tests:before {
  content: '\f0c3'; }

.about-licenses:before {
  content: '\f0e3'; }

.new-in-2 > h2 {
  background: #000;
  color: #fff;
  text-indent: 10px;
  width: 120px;
  font-size: 18px; }
.new-in-2 ul {
  list-style: none;
  border: 1px solid #000;
  width: 618px;
  overflow: hidden; }
.new-in-2 li {
  float: left;
  width: 134px;
  font-size: 12px;
  padding: 10px; }
.new-in-2 p {
  margin: 0; }
.new-in-2 h3 {
  margin: 0;
  font-size: 16px; }
  .new-in-2 h3:before {
    padding-right: 8px; }

.new-panel {
  float: left;
  width: 230px;
  padding: 15px 15px 15px 14px; }
  .new-panel > h2:before {
    width: 30px; }

.new-horizontals:before {
  content: '\f07e'; }

.new-multiples:before {
  content: '\f00a'; }

.new-shortcuts:before {
  content: '\f0d0'; }

.new-api:before {
  content: '\f040'; }

#get-started {
  left: 100%; }
  #get-started .inner {
    width: 620px;
    margin: 60px auto;
    padding-bottom: 400px; }

#shortcuts-examples {
  left: 200%; }
  #shortcuts-examples .inner {
    position: absolute;
    width: 520px;
    margin: -185px 0 0 -260px;
    left: 50%;
    top: 50%; }
  #shortcuts-examples a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    margin-right: 10px;
    width: 240px;
    text-align: center;
    border: 1px solid #000;
    padding: 10px 0; }
    #shortcuts-examples a:before {
      display: block;
      font-size: 48px; }

.shortcuts {
  margin-bottom: 32px; }

.shortcut-sticky:before {
  content: '\f08d'; }

.shortcut-infinite:before {
  font-family: 'Helvetica Neue', sans-serif;
  content: '∞'; }

.example-dials:before {
  content: '\f0e4'; }

.example-analytics:before {
  content: '\f0c0'; }

#docs {
  left: 300%; }
  #docs .inner {
    width: 510px;
    padding: 0 120px 0 10px;
    margin: 0 auto;
    position: relative; }
  #docs h2 {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 16px;
    background: #000;
    color: #fff;
    padding: 10px; }

.docs-nav {
  -webkit-transition: right 200ms ease-in-out;
  -moz-transition: right 200ms ease-in-out;
  -o-transition: right 200ms ease-in-out;
  -ms-transition: right 200ms ease-in-out;
  transition: right 200ms ease-in-out;
  position: fixed;
  top: 60px;
  right: -120px;
  bottom: 0;
  overflow: auto;
  width: 120px;
  background: #fff;
  font-size: 12px;
  line-height: 2; }
  .docs-visible .docs-nav {
    right: 0; }
  .docs-nav, .docs-nav ul {
    list-style: none; }
  .docs-nav a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 0 5px; }
  .docs-nav > li > a {
    font-weight: bold; }
  .docs-nav ul a {
    padding-left: 10px; }
  .docs-nav .active {
    text-decoration: underline; }
    .docs-nav .active * {
      text-decoration: none; }

.doc-section {
  margin-bottom: 64px;
  position: relative;
  padding-top: 60px; }
  .doc-section:after {
    content: '༒';
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #000; }

.params {
  margin: -12px 0 16px 0;
  list-style: none; }
  .params > li {
    display: block;
    background: #000;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 4px; }
  .params h3 {
    font-size: 16px;
    float: left;
    min-width: 80px;
    padding-right: 20px; }
  .params dl {
    display: block;
    overflow: hidden; }
  .params dt {
    float: left; }
    .params dt:after {
      content: ':';
      padding-right: 5px; }
  .params dd {
    display: block;
    overflow: hidden; }

.options-list dt {
  font-weight: bold; }
.options-list dd {
  padding-left: 10px; }

.notifications-wrapper {
  position: fixed;
  z-index: 2;
  height: 0;
  overflow: visible;
  left: 0;
  right: 0;
  top: 45px; }

.notifications {
  width: 320px;
  margin: 0 auto; }
  .notifications > p {
    height: 32px;
    line-height: 32px;
    background: #000;
    color: #fff;
    text-align: center;
    margin: 0; }

.example-scroll-div {
  padding: 25px 0 100px 0;
  background: #000;
  overflow: scroll;
  height: 0; }
