@font-face {
  font-family: "FontAwesome";
  src: url("fonts/fontawesome-webfont.eot");
  src: url("fonts/fontawesome-webfont.eot?#iefix") format("eot"), url("fonts/fontawesome-webfont.woff") format("woff"), url("fonts/fontawesome-webfont.ttf") format("truetype"), url("fonts/fontawesome-webfont.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0; }

html {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  background: #fff;
  color: #000;
  font-family: 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  overflow: hidden; }

p {
  margin-bottom: 16px; }

pre {
  padding: 10px;
  border: 1px solid #000; }

.icon:before {
  font-family: 'FontAwesome';
  font-weight: normal;
  display: inline-block;
  vertical-align: middle; }

.panel {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto; }

.nav {
  width: 560px;
  padding: 10px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 50%;
  margin-left: -290px;
  background: #000;
  color: #fff;
  overflow: hidden; }
  .nav h1 {
    float: left;
    font-size: 24px;
    line-height: 1; }
  .nav ul {
    float: right;
    list-style: none; }
  .nav li {
    float: left;
    padding: 0 5px; }
  .nav a {
    display: block;
    line-height: 2;
    color: #000;
    background: #fff;
    text-decoration: none;
    font-size: 12px;
    padding: 0 5px; }

#about {
  left: 0;
  top: 0; }
  #about .inner {
    width: 380px;
    height: 150px;
    padding-right: 140px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -260px; }
  #about ul {
    position: absolute;
    right: 0;
    top: 0;
    list-style: none; }
    #about ul a {
      text-decoration: none;
      color: #000;
      display: block; }
      #about ul a:before {
        width: 36px;
        font-size: 28px; }

.about-download:before {
  content: '\f019'; }

.about-github:before {
  content: '\f09b'; }

.about-tests:before {
  content: '\f0c3'; }

.about-licenses:before {
  content: '\f0e3'; }

#whats-new {
  left: 100%;
  top: 0; }
  #whats-new .inner {
    position: absolute;
    width: 520px;
    margin-left: -260px;
    left: 50%;
    top: 120px; }
  #whats-new .row {
    width: 100%;
    overflow: hidden; }
    #whats-new .row:first-child {
      border-bottom: 1px solid #000; }

.new-panel {
  float: left;
  width: 230px;
  padding: 15px 15px 15px 14px; }
  .new-panel > h2:before {
    width: 30px; }

.new-horizontals {
  border-right: 1px solid #000; }
  .new-horizontals > h2:before {
    content: '\f07e'; }

.new-multiples > h2:before {
  content: '\f00a'; }

.new-shortcuts {
  border-right: 1px solid #000; }
  .new-shortcuts > h2:before {
    content: '\f0d0'; }

.new-api > h2:before {
  content: '\f040'; }

#shortcuts-examples {
  top: 100%;
  left: 0; }

#docs {
  left: 100%;
  top: 100%; }
