@mixin transition($val) {
  -webkit-transition: $val;
  -moz-transition: $val;
  -o-transition: $val;
  -ms-transition: $val;
  transition: $val;
}

@font-face {
  font-family: "FontAwesome";
  src: url('fonts/fontawesome-webfont.eot');
  src: url('fonts/fontawesome-webfont.eot?#iefix') format('eot'), url('fonts/fontawesome-webfont.woff') format('woff'), url('fonts/fontawesome-webfont.ttf') format('truetype'), url('fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

html {
  width:100%;
  height:100%;
  overflow:hidden;
}

body {
  background:#fff;
  color:#000;
  font-family:'Helvetica Neue', sans-serif;
  width:100%;
  height:100%;
  line-height:1.5;
  overflow:hidden;
}

p, pre {
  margin-bottom:16px;
}

pre {
  padding:10px;
  border:1px solid #000;
}

.icon:before {
  font-family:'FontAwesome';
  font-weight:normal;
  display:inline-block;
  vertical-align:middle;
}

.panel {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  overflow:auto;
}

.nav {
  width:620px;
  height:25px;
  padding:10px;
  position:fixed;
  z-index:2;
  top:0;
  left:50%;
  margin-left:-320px;
  background:#000;
  color:#fff;
  overflow:hidden;

  h1 {
    float:left;
    font-size:24px;
    line-height:1;
  }

  ul {
    float:right;
    list-style:none;
  }

  li {
    float:left;
    padding:0 5px;
  }

  a {
    display:block;
    line-height:2;
    color:#000;
    background:#fff;
    text-decoration:none;
    font-size:12px;
    padding:0 5px;
    border:1px solid #fff;
  }
}

.version {
  float:left;
  font-size:12px;
  line-height:1;
  margin:10px 0 0 10px;
}

.about-visible .nav-about,
.whats-new-visible .nav-new,
.shortcuts-examples-visible .nav-shortcuts,
.docs-visible .nav-docs {
  background:#000;
  color:#fff;
}

#about {
  left:0;

  .inner {
    width:400px;
    padding-right:160px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-60px 0 0 -280px;
  }

  ul {
    position:absolute;
    right:0;
    top:0;
    list-style:none;

    a {
      text-decoration:none;
      color:#000;
      display:block;

      &:before {
        width:48px;
        font-size:24px;
        text-align:center;
      }
    }
  }
}

.about-download:before {
  content:'\f019';
}

.about-github:before {
  content:'\f09b';
}

.about-tests:before {
  content:'\f0c3';
}

.about-licenses:before {
  content:'\f0e3';
}

#whats-new {
  left:100%;

  .inner {
    position:absolute;
    width:520px;
    margin:-160px 0 0 -260px;
    left:50%;
    top:50%;
  }

  .row {
    width:100%;
    overflow:hidden;

    &:first-child {
      border-bottom:1px solid #000;
    }
  }
}

.new-panel {
  float:left;
  width:230px;
  padding:15px 15px 15px 14px;

  > h2:before {
    width:30px;
  }
}

.new-horizontals {
  border-right:1px solid #000;

  > h2:before {
    content:'\f07e';
  }
}

.new-multiples {
  > h2:before {
    content:'\f00a';
  }
}

.new-shortcuts {
  border-right:1px solid #000;

  > h2:before {
    content:'\f0d0';
  }
}

.new-api {
  > h2:before {
    content:'\f040';
  }
}

#shortcuts-examples {
  left:200%;

  .inner {
    position:absolute;
    width:520px;
    margin:-185px 0 0 -260px;
    left:50%;
    top:50%;
  }

  a {
    display:inline-block;
    color:#000;
    text-decoration:none;
    margin-right:10px;
    width:240px;
    text-align:center;
    border:1px solid #000;
    padding:10px 0;

    &:before {
      display:block;
      font-size:48px;
    }
  }
}

.shortcuts {
  margin-bottom:32px;
}

.shortcut-sticky:before {
  content:'\f08d';
}

.shortcut-infinite:before {
  font-family:'Helvetica Neue', sans-serif;
  content:'∞';
}

.example-dials:before {
  content:'\f0e4';
}

.example-analytics:before {
  content:'\f0c0';
}

#docs {
  left:300%;

  .inner {
    width:510px;
    padding:0 120px 0 10px;
    margin:0 auto;
    position:relative;
  }

  h2 {
    font-size:24px;
    line-height:1;
    margin-bottom:16px;
    background:#000;
    color:#fff;
    padding:10px;
  }
}

.docs-nav {
  @include transition(right 200ms ease-in-out);
  position:fixed;
  top:60px;
  right:-120px;
  bottom:0;
  overflow:auto;
  width:120px;
  background:#fff;
  font-size:12px;
  line-height:2;

  .docs-visible & {
    right:0;
  }

  &, & ul {
    list-style:none;
  }

  a {
    color:#000;
    text-decoration:none;
    display:block;
    padding:0 5px;
  }

  > li > a {
    font-weight:bold;
  }

  ul a {
    padding-left:10px;
  }

  .active {
    text-decoration:underline;

    * {
      text-decoration:none;
    }
  }
}

.doc-section {
  margin-bottom:64px;
  position:relative;
  padding-top:60px;

  &:after {
    content:'༒';
    position:absolute;
    left:0;
    bottom:-40px;
    width:100%;
    text-align:center;
    font-size:16px;
    color:#000;
  }
}

.params {
  margin:-12px 0 16px 0;
  list-style:none;

  > li {
    display:block;
    background:#000;
    color:#fff;
    padding:5px 10px;
    margin-bottom:4px;
  }
  

  h3 {
    font-size:16px;
    float:left;
    min-width:80px;
    padding-right:20px;
  }

  dl {
    display:block;
    overflow:hidden;
  }

  dt {
    float:left;

    &:after {
      content:':';
      padding-right:5px;
    }
  }

  dd {
    display:block;
    overflow:hidden;
  }
}

.options-list {
  dt {
    font-weight:bold;
  }
  dd {
    padding-left:10px;
  }
}