<ul class="subsection-nav api-nav on-{{ page.subsection }}">
  <li>
    <a href="../waypoint" class="nav-waypoint">Waypoint</a>
    <h3 class="subheading">Options</h3>
    <ul>
      <li><a href="../context-option" class="nav-context-option">context</a></li>
      <li><a href="../continuous-option" class="nav-continuous-option">continuous</a></li>
      <li><a href="../enabled-option" class="nav-enabled-option">enabled</a></li>
      <li><a href="../group-option" class="nav-group-option">group</a></li>
      <li><a href="../handler-option" class="nav-handler-option">handler</a></li>
      <li><a href="../horizontal-option" class="nav-horizontal-option">horizontal</a></li>
      <li><a href="../offset-option" class="nav-offset-option">offset</a></li>
    </ul>
    <h3 class="subheading">Instance Methods</h3>
    <ul>
      <li><a href="../destroy" class="nav-destroy">destroy</a></li>
      <li><a href="../disable" class="nav-disable">disable</a></li>
      <li><a href="../enable" class="nav-enable">enable</a></li>
      <li><a href="../next" class="nav-next">next</a></li>
      <li><a href="../previous" class="nav-previous">previous</a></li>
    </ul>
    <h3 class="subheading">Class Methods</h3>
    <ul>
      <li><a href="../destroy-all" class="nav-destroy-all">destroyAll</a></li>
      <li><a href="../disable-all" class="nav-disable-all">disableAll</a></li>
      <li><a href="../enable-all" class="nav-enable-all">enableAll</a></li>
      <li><a href="../refresh-all" class="nav-refresh-all">refreshAll</a></li>
      <li><a href="../viewport-height" class="nav-viewport-height">viewportHeight</a></li>
      <li><a href="../viewport-width" class="nav-viewport-width">viewportWidth</a></li>
    </ul>
  </li>

  <li>
    <a href="../context" class="nav-context">Waypoint.Context</a>
    <h3 class="subheading">Instance Methods</h3>
    <ul>
      <li><a href="../context-destroy" class="nav-context-destroy">destroy</a></li>
      <li><a href="../context-refresh" class="nav-context-refresh">refresh</a></li>
    </ul>
    <h3 class="subheading">Class Methods</h3>
    <ul>
      <li><a href="../context-find-by-element" class="nav-context-find-by-element">findByElement</a></li>
    </ul>
  </li>

  <li>
    <a href="../group" class="nav-group">Waypoint.Group</a>
    <h3 class="subheading">Instance Methods</h3>
    <ul>
      <li><a href="../first" class="nav-first">first</a></li>
      <li><a href="../last" class="nav-last">last</a></li>
    </ul>
  </li>
</ul>
