/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b2 | 201101
   NOTE: THIS IS A BETA VERSION (see previous line)
   USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END MEYER RESET */

.hide {
	width:1px;
	height:1px;
	position:absolute;
	text-indent:-9999px;
	overflow:hidden;
}

.clearfix {
	&:after {
		visibility:hidden;
		display:block;
		font-size:0;
		content:" ";
		clear:both;
		height:0;
	}
	* html & { zoom:1; }
	*:first-child+html { zoom:1; }
}

body {
	font-size:16px;
	line-height:1.5;
	color:#444;
	background:#f5f5ff;
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1 {
	font-size:24px;
	font-weight:bold;
	margin-top:24px;
}

hgroup h1 {
	color:#222;
	font-size:28px;
}

hgroup h2 {
	font-size:24px;
	color:#666;
}

p {
	margin:8px 0 24px 0;
}

.article {
	padding:16px 0;
	border-top:1px solid #ddd;
}

#wrapper {
	width:460px;
	margin:0 auto;
}

#container {
	margin-bottom:50px;
}

footer {
	padding-bottom:24px;
}

.js footer {
	visibility:hidden;
}

.loading {
	left:0;
	bottom:0;
	width:100%;
	height:34px;
	line-height:34px;
	margin-top:-34px;
	background:#222;
	color:#fff;
}

.loading p {
	margin:0;
	text-align:center;
	-webkit-animation:pulse 2s infinite;
	font-weight:bold;
	text-transform:uppercase;
}

@-webkit-keyframes pulse {
	0% {
		opacity:.5;
	}
	50% {
		opacity:.9;
	}
	100% {
		opacity:.5;
	}
}