.about-main {
  text-align:center;
  padding:10px;

  .highlight {
    text-align:left;
  }
}

.large-button {
  display:block;
  background:$baseColor;
  color:white;
  text-decoration:none;
  padding:10px;
  font-size:24px;

  &:before {
    color:rgba(255,255,255,.5);
    padding-right:10px;
    font-size:18px;
  }

  &:hover, &:focus {
    background:$complementColor;
    color:white;
  }
}

.or {
  color:#999;
  font-size:12px;
  margin:12px 0;

  &:before, &:after {
    content:'-';
    padding:0 1px;
  }
}

.one-liner {
  border:1px solid rgba(0,0,0,.1);
}

.download, .introduction {
  p:first-child {
    margin-top:0;
  }
}

@include desktop {
  .introduction {
    float:left;
    width:50%;
    padding-right:15px;
    text-align:left;
  }

  .download {
    float:right;
    width:50%;
    padding-left:15px;
  }

  .introduction p:first-child {
    margin-top:16px;
  }
}
