.about-main {
  text-align:center;
  padding:10px;

  .highlight {
    text-align:left;
  }
}

.large-button {
  display:inline-block;
  background:$baseColor;
  color:white;
  text-decoration:none;
  padding:10px;
  font-size:24px;

  &:hover, &:focus {
    background:$complementColor;
    color:white;
  }
}

.or {
  color:#999;
  font-size:12px;
  margin:20px 0;

  &:before, &:after {
    content:'-';
    padding:0 1px;
  }
}

.one-liner {
  border:1px solid rgba(0,0,0,.1);
  padding-top:8px;
  padding-bottom:7px;
}

.introduction {
  p:first-child {
    margin-top:0;
  }
}

.about-links {
  list-style:none;
  padding:0;
  margin-top:24px;

  > li {
    display:inline-block;
    width:
  }

  a {
    display:block;
    text-decoration:none;
    font-size:14px;
    width:100px;

    span {
      display:block;
    }

    &:hover svg {
      fill:$complementColor;
    }
  }

  svg {
    width:36px;
    height:36px;
    fill:$baseColor;
  }
}

.flavor-requirements {
  list-style:none;
  padding:0;
  display:inline-block;

  > li {
    display:inline-block;
    padding-left:40px;
    font-size:14px;
    color:#888;

    &:first-child {
      padding-left:0;
    }
  }

  span {
    display:block;
    font-size:16px;
    font-weight:bold;
    padding-bottom:4px;
    color:#555;
  }
}

@include desktop {
  .introduction {
    float:left;
    width:50%;
    padding-right:15px;
    text-align:left;
  }

  .download {
    float:right;
    width:50%;
    padding-left:15px;
    padding-top:54px;
  }
}
