.reference {
  background:rgba(0,0,0,.05);
  padding:10px;
  border:1px solid rgba(0,0,0,.05);

  > p {
    margin:.25em 0;
  }

  h3 {
    font-size:1.25em;
    margin:1em 0 0 0;
    color:#888;

    &:first-child {
      margin-top:0
    }
  }
}

.scroll-down {
  height:700px;
  height:50vh;
  position:relative;
  text-align:center;
  font-size:2em;
  font-weight:300;
  color:#ccc;

  &:before, &:after {
    display:block;
    content:'\2193';
  }
}

.waypoint-button-group {
  position:relative;
}

.button-group {
  text-transform:capitalize;
  position:absolute;
  bottom:0;
  right:0;
}

.np-example {
  width:100%;
  overflow:hidden;
}

.np-container {
  width:50%;
  list-style:none;
  padding:0 10px 0 0;
  float:left;

  li {
    display:block;
  }
}

.np-left {
  height:100px;
  margin:10px 0;
  background:#555;
}

.np-right {
  height:231px;
  margin:16px 0;
  background:#aaa;
}

.np-current {
  background:green;
}

.np-previous {
  background:red;
}

.np-next {
  background:blue;
}

@include desktop {
  .reference {
    margin:1.5em 0;
  }
}
