.reference {
  background:rgba(0,0,0,.05);
  padding:10px;
  border:1px solid rgba(0,0,0,.05);

  > p {
    margin:.25em 0;
  }

  h3 {
    font-size:1.25em;
    margin:1em 0 0 0;
    color:#888;

    &:first-child {
      margin-top:0
    }
  }

  dt {
    margin-top:1em;
  }

  dd {
    margin-left:30px;
  }
}

.scroll-down {
  height:700px;
  height:50vh;
  position:relative;
  text-align:center;
  font-size:2em;
  font-weight:300;
  color:#ccc;

  &:before, &:after {
    display:block;
    content:'\2193';
  }
}

.waypoint-button-group {
  position:relative;
}

.button-group {
  text-transform:capitalize;
  position:absolute;
  bottom:0;
  right:0;
}

.np-example {
  @extend %clearfix;
}

.np-container {
  float:left;
  width:50%;
  list-style:none;
  padding:0 0 0 10px;

  &:first-child {
    padding:0 10px 0 0;
  }

  li {
    display:block;
  }
}

.np-left {
  height:100px;
  margin:10px 0;
  background:#555;
}

.np-right {
  height:231px;
  margin:16px 0;
  background:#aaa;
}

.np-current {
  background:green;
}

.np-previous {
  background:red;
}

.np-next {
  background:blue;
}

.continuous-false,
.continuous-true,
.continuous-group-left,
.continuous-group-right,
.continuous-mix-true,
.continuous-mix-false {
  height:80px;
  background:#555;
  margin:15px 0;
  color:#fff;
  padding:10px;
}

.continuous-group-container {
  @extend %clearfix;
}

.continuous-group-column {
  float:left;
  width:50%;
  padding:0 0 0 10px;

  &:first-child {
    padding:0 10px 0 0;
  }
}

.destroy-all-waypoint {
  height:100px;
  background:#555;
  color:#fff;
  padding:10px;
  margin:15px 0;
}

.added {
  height:100px;
  background:#ccc;
  padding:10px;
  margin:15px 0;
}

.context-destroy-container {
  @extend %clearfix;
}

.left-context-waypoint, .right-context-waypoint {
  height:600px;
  margin-bottom:20px;
  padding:10px;
}

.left-context-waypoint {
  background:#555;
  color:#fff;
}

.right-context-waypoint {
  background:#ccc;
  color:#000;
}

.group-odd, .group-even {
  padding:10px;
  height:100px;
}

.group-odd {
  background:#555;
  color:#fff;
  margin:20px 0;
}

.group-even {
  background:#ccc;
  color:#000;
}

#overflow-scroll, #overflow-scroll-offset {
  overflow:auto;
  height:300px;
  background:rgba(0,0,0,.1);
}

#context-example, #find-by-example {
  background:#555;
  color:#fff;
  height:400px;
  padding:10px;
  margin-top:150px;
}

#context-example-offset {
  background:#555;
  color:#fff;
  height:600px;
  padding:10px;
  margin-top:200px;
}

#horizontal-waypoint, #horizontal-waypoint-offset, #handler-horizontal {
  width:1000px;
  height:100%;
  padding:10px;
  margin-left:150px;
  background:#555;
  color:#fff;
}

#refresh-all-waypoint {
  height:100px;
  padding:10px;
  background:#555;
  color:#fff;
  margin:15px 0;
}

#left-context {
  float:left;
  width:50%;
  padding-right:10px;
  height:300px;
  overflow:auto;
  padding-top:20px;
}

#right-context {
  float:right;
  width:50%;
  padding-left:10px;
  height:300px;
  overflow:auto;
  padding-top:20px;
}

@include desktop {
  .reference {
    margin:1.5em 0;
  }
}
