article {
  line-height: 1.5;
  padding:10px 10px 10px 10px;

  code {
    background:#ddd;
    padding:0 2px;
  }

  pre > code {
    background:transparent;
  }

  h3 {
    color:#666;
    font-weight:300;
    font-size:24px;
  }
}

@include desktop {
  article {
    overflow:hidden;
    padding-left:30px;
    padding-top:0;

    h2 {
      margin-top:0;
    }
  }
}
