html, body {
  height:100%;
}

main {
  @extend .inner;
  background:rgba(255,255,255,.5);
  overflow:hidden;
  position:relative;
}

footer {
  position:absolute;
  bottom:0;
  height:32px;
  line-height:32px;
  background:rgba(0,0,0,.1);
  left:0;
  right:0;
  font-size:11px;
  text-align:right;

  p {
    display:inline;
  }

  .inner {
    padding:0 10px;
  }
}

a {
  color:$baseColor;

  &:hover, &:focus {
    color:$complementColor;
  }
}

h2 {
  margin:8px 0;
  color:#348ec0;
  font-weight:300;
  font-size:32px;
}

pre {
  margin:0;
  padding:6px 10px;
  font-size:14px;
}

.container {
  position:relative;
  z-index:2;
  min-height:100%;
  padding-bottom:32px;
}

.inner {
  max-width:$desktopMaxWidth;
  margin-left:auto;
  margin-right:auto;
}

@include desktop {
  body {
    background:url(../img/bg.jpg) center 0 no-repeat #fff;
    background-size:cover;
    background-attachment:fixed;
  }
}
