$sections: (about, guides, shortcuts, api);

header {
  background:black;
  color:white;
  padding:0 10px;
  text-align:center;

  h1 {
    margin:0;
    text-align:center;
  }

  nav {
    display:inline-block;

    ul {
      padding:0;
      margin:8px 0;
    }

    li {
      display:inline-block;
      padding:0 8px;
    }
  }

  a {
    color:white;
    display:block;
    text-decoration:none;
  }
}

%active {
  text-decoration:underline;
}

@each $section in $sections {
  .on-#{$section} .nav-#{$section} {
    @extend %active;
  }
}

