$sections: (about, guides, shortcuts, api);
header {
  text-align:center;
  overflow:hidden;
  width:100%;
  margin-bottom:16px;

  h1 {
    margin:0;
    padding:4px 0;
    text-align:center;
    font-weight:300;
    font-size:36px;

    a, a:hover, a:focus {
      color:#111;
    }
  }

  nav {
    display:inline-block;
    font-size:14px;

    ul {
      padding:0 0 8px 0;
      margin:0;
    }

    li {
      display:inline-block;
      padding:0 3px;
    }

    a {
      border-radius:25px;
      padding:5px 10px;
      color:#555;

      &:hover, &:focus {
        background:rgba(0,0,0,0.1);
        color:#555;
      }
    }
  }

  a {
    text-decoration:none;
    display:block;
  }

  .inner {
    padding:0 10px;
  }
}

%header-active {
  background:$baseColor;
  color:white;
  cursor:default;
}

@each $section in $sections {
  .on-#{$section} .nav-#{$section} {
    @extend %header-active;
  }
}

@include desktop {
  header {
    padding-top:8px;

    nav {
      float:right;
      position:relative;
      top:18px;
      font-size:16px;

      a {
        padding:5px 12px;
      }
    }
  }

  h1 {
    float:left;
  }
}
