.stuck {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding-left:10px;
  padding-right:10px;
}

@include desktop {
  .stuck {
    width:767px;
    left:auto;
    right:auto;
    padding-left:0;
    padding-right:0;
  }
}
