$sections:
  (getting-started, jquery-waypoints, creating-adapters, debugging-waypoints),
  (sticky-elements, infinite-scroll, inview),
  (context, context-destroy, context-find-by-element, context-option, context-refresh, continuous-option, destroy, destroy-all, disable, enable, enabled-option, first, group, group-option, horizontal-option, last, next, offset-option, previous, refresh-all, trigger-once-option, viewport-height, viewport-width, waypoint);

.subsection-nav {
  margin:0;
  padding:0;

  li {
    display:block;
    text-align:center;
  }

  a {
    background:rgba(0,0,0,.7);
    border-top:1px solid rgba(255,255,255,.3);
    color:white;
    display:block;
    padding:5px 10px;
    text-decoration:none;
    position:relative;

    &:hover, &:focus {
      &:after {
        content:'';
        position:absolute;
        right:0;
        top:0;
        bottom:0;
        width:10px;
        background:$baseColor;
      }
    }
  }

  li:first-child a {
    border-top:0;
  }
}

%subsection-active {
  background:$baseColor;
}

@each $section in $sections {
  @each $subsection in $section {
    .on-#{$subsection} .nav-#{$subsection} {
      @extend %subsection-active;
    }
  }
}
