$sections:
  (getting-started, jquery-zepto, adapters, debugging),
  (sticky-elements, infinite-scroll, inview),
  (context, context-destroy, context-find-by-element, context-option, context-refresh, continuous-option, destroy, destroy-all, disable, enable, enabled-option, first, group, group-option, handler-option, horizontal-option, last, next, offset-option, previous, refresh-all, viewport-height, viewport-width, waypoint);

.subsection-nav {
  margin:0;
  padding:0;

  li {
    display:block;
  }

  a {
    background:rgba(0,0,0,.7);
    border-top:1px solid rgba(255,255,255,.3);
    color:white;
    padding:10px 30px 10px 15px;
    text-decoration:none;
    position:relative;
    display:none;

    &:hover, &:focus {
      &:after {
        content:'';
        position:absolute;
        top:0;
        bottom:0;
        width:15px;
        background:$baseColor;
      }

      &:after {
        right:0;
      }
    }
  }

  li:first-child > a {
    border-top:0;
  }

  &.expanded a {
    display:block;
  }
}

%subsection-active {
  background:$baseColor;
  color:#fff;
  display:block;
  position:relative;

  &:before {
    content:'+';
    position:absolute;
    top:50%;
    margin-top:-16px;
    right:20px;
    font-size:24px;
    color:#fff;
  }
}

@each $section in $sections {
  @each $subsection in $section {
    .on-#{$subsection} .nav-#{$subsection} {
      @extend %subsection-active;
    }
    .expanded.on-#{$subsection} .nav-#{$subsection}:before {
      content:'-';
    }
  }
}

.api-nav {
  > li {
    margin-bottom:16px;
  }

  ul {
    padding:0;
    font-size:14px;

    a {
      background:transparent;
      color:black;
      padding:6px 35px 6px 20px;
    }
  }

  .subheading {
    font-size:12px;
    font-weight:normal;
    margin:0;
    padding:6px 30px 6px 15px;
    background:rgba(0,0,0,.1);
    margin-top:8px;
    display:none;
  }

  a + .subheading {
    margin-top:0;
  }

  &.expanded .subheading {
    display:block;
  }
}

@include desktop {
  .subsection-nav {
    float:left;
    width:185px;

    a, .subheading {
      display:block;
    }
  }

  @each $section in $sections {
    @each $subsection in $section {
      .on-#{$subsection} .nav-#{$subsection} {
        cursor:default;

        &:before {
          display:none;
        }
      }
    }
  }
}
